services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    # ports:
    #   - "27017:27017"
    volumes:
      - ./mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    network_mode: "host" 

  api-signals:
    build:
      context: .
      dockerfile: ./Dockerfile
      network: host
    container_name: api-signals
    restart: always
    env_file:
      - .env
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - .:/app:delegated
    working_dir: /app
    network_mode: "host"

volumes:
  mongo_data:
